<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>  
    <description></description> 
    <display-name>Add</display-name>  
    <servlet-name>Add</servlet-name>  
    <servlet-class>Add</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Add</servlet-name>  
    <url-pattern>/Add</url-pattern>   
  </servlet-mapping>
  <servlet>  
    <description></description> 
    <display-name>Delete</display-name>  
    <servlet-name>Delete</servlet-name>  
    <servlet-class>Delete</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Delete</servlet-name>  
    <url-pattern>/Delete</url-pattern>   
  </servlet-mapping>
  <servlet>  
    <description></description> 
    <display-name>DeleteAll</display-name>  
    <servlet-name>DeleteAll</servlet-name>  
    <servlet-class>DeleteAll</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>DeleteAll</servlet-name>  
    <url-pattern>/DeleteAll</url-pattern>   
  </servlet-mapping>
  <servlet>  
    <description></description> 
    <display-name>Logout</display-name>  
    <servlet-name>Logout</servlet-name>  
    <servlet-class>Logout</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Logout</servlet-name>  
    <url-pattern>/Logout</url-pattern>   
  </servlet-mapping>
  <servlet>  
    <description></description> 
    <display-name>MainPage</display-name>  
    <servlet-name>MainPage</servlet-name>  
    <servlet-class>MainPage</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>MainPage</servlet-name>  
    <url-pattern>/mainpage</url-pattern>   
  </servlet-mapping>
  <servlet>  
    <description></description> 
    <display-name>ViewAll</display-name>  
    <servlet-name>ViewAll</servlet-name>  
    <servlet-class>ViewAll</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ViewAll</servlet-name>  
    <url-pattern>/viewAll</url-pattern>   
  </servlet-mapping>
</web-app>